* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --footer: #222222;
    --sec-footer: #4a4a4a;
    --bg: black;
    --text: white;


}

/* 

icone varie 

<i class="fa-solid fa-user-plus"></i>
<i class="fa-solid fa-microphone-slash"></i>
    <i class="fa-solid fa-video"></i>
    <i class="fa-sharp fa-solid fa-maximize"></i>
    <i class="fa-solid fa-user-group"></i>
    <i class="fa-solid fa-microphone"></i>
    <i class="fa-sharp fa-solid fa-chart-column"></i>
    <i class="fa-solid fa-share-from-square"></i>
    <i class="fa-solid fa-record-vinyl"></i>
    <i class="fa-sharp fa-solid fa-comment"></i>
    <i class="fa-solid fa-angle-up"></i>
    <i class="fa-solid fa-ellipsis"></i>
 
 
    */

body {
    background-color: var(--bg);
    color: var(--text)
}

main {
    padding: 80px 80px 20px 80px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px 5px;
    position: relative;
}

.speaker-wiew{position: absolute;
    top: 20px;
    right: 120px;
   
}

.grid, .expand{
    background-color: var(--sec-footer);
    display: inline-block;
    border-radius: 5px;
    margin:2px


}

.grid{
    padding:3px
}

.expand{
padding: 2px
}

.user {
    width: calc(100% / 7 - 10px);
    height: calc(100% / 5);
    position: relative;

}

.user img {
    width: 100%;
    display: block;
}

.name-user {
    background-color: rgb(34, 34, 34, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px;

}