* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --footer: #222222;
    --sec-footer: #4a4a4a;
    --bg: black;
    --text: white;


}

/* icone main---

    <i class="fa-solid fa-table-cells-large"></i>
    <i class="fa-solid fa-microphone-slash"></i>
    <i class="fa-sharp fa-solid fa-maximize"></i>

 
---*/

body {
    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
}

main {
    padding: 40px 40px 10px 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    gap: 10px 5px;
    position: relative;
}

.speaker-wiew {
    position: absolute;
    top: 5px;
    right: 10px;

}

.grid,
.expand {
    background-color: var(--sec-footer);
    display: inline-block;
    border-radius: 5px;
    margin: 2px;
    font-size: 12px;
}

.grid {
    padding: 3px
}

.expand {
    padding: 2px
}

.user {
    width: calc(100% / 7 - 20px);
    position: relative;

}

.user img {
    width: 100%;
    display: block;
}

.name-user {
    background-color: rgb(34, 34, 34, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px;

}


/*icone footer

<i class="fa-solid fa-user-plus"></i>
    <i class="fa-solid fa-microphone"></i>
    <i class="fa-solid fa-video"></i>
    <i class="fa-solid fa-angle-up"></i>
    <i class="fa-solid fa-user-group"></i>
    <i class="fa-sharp fa-solid fa-chart-column"></i>
    <i class="fa-solid fa-share-from-square"></i>
    <i class="fa-solid fa-record-vinyl"></i>
    <i class="fa-sharp fa-solid fa-comment"></i>
    <i class="fa-solid fa-ellipsis"></i>
 

*/

footer {
    background-color: var(--footer);
    display: flex;
    justify-content: space-between;
}

.button,
.central-button,
.right-button {
    padding: .5rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;

}

.left-button {
    display: flex;
}

.icon {
    font-size: 28px;
    padding-bottom: 5px;
}

.text {
    text-transform: capitalize;
}

.option {
    margin-left: 10px;
    font-size: 12px;
}

.share {
    color: #28ca31;
}

.right-button {
    color: red;

    padding: 30px 20px;
    background-color: var(--sec-footer);
    font
}